<!DOCTYPE html>
<html>
    <head>
        <title>Web_page1</title>
        <link rel="stylesheet" href="web_page1_style.css">
    </head>
    <body>
        <div class="content">
            <div class="sayHi">
                <div id="imgIdol">
                </div>
                <h2>Idol đang đến đây!</h2>
            </div>
            <div class="navbar">
                <a href="" id="toIdolPage">Idols</a>
                <a href="">Activities</a>
            </div>
        </div>
    </body>
</html>