<html>
    <head>
        <title>Forget Password</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="bg">
            <div class="gif">
                <img src="../image/cheering.gif" alt="cheering">
            </div>
            <div class="form">
                <form action="/forget_password" method="post">
                    <h1>Reset your password</h1>
                    <div class="h4text"><h4>Please enter your email address. <br>We will send you a password reset link.</h4></div>
                    <div class="textfield">
                        <input type="email" placeholder="Email" required name="email" id="email">
                    </div>
                    <div class="message"><%=message%></div>
                    <div class="button">
                        <input type="submit" value="Send password reset email">
                    </div>
                </form>
            </div>    
            
        </div>
    </body>
</html>