<html>
    <head>
        <title>Forget Password</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <header>
            <a href="/" class="logo">DUIDOL.</a>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/items?categorical=album">Items</a></li>
                <li><a href="/idol_list?page=1">Idol List</a></li>
                <li><a href="/login" >Login</a></li>
                <li><a href="/register">Sign up</a></li>               
            </ul>
        </header>
        <div class="bg">
            <div class="gif">
                <img src="../image/cheering.gif" alt="cheering">
            </div>
            <div class="form">
                <form action="/forget_password" method="post">
                    <h1>Reset your password</h1>
                    <div class="h4text"><h4>Please enter your email address. <br>We will send you a password reset link.</h4></div>
                    <div class="textfield">
                        <input type="email" placeholder="Email" required name="email" id="email">
                    </div>
                    <div class="message"><%=message%></div>
                    <div class="button">
                        <input type="submit" value="Send password reset email">
                    </div>
                </form>
            </div>    
            
        </div>
    </body>
</html>