<html>
	<head>
		<title>Idol List</title>
		<link rel="stylesheet" href="../css/idol_list.css">
	</head>
	<body>
		<header>
			<a href="" class="logo">DUIDOL.</a>
            <ul class="navigation">
				<% if (session.loggedin) { %>
                    <li>Hi, <%= session.email %></a></li>
                <% } %> 
                <li><a href="/">Home</a></li>
                <li><a href="/items?categorical=album">Items</a></li>
				<li><a href="/idol_list?page=1">Idol List</a></li>
                <% if (session.loggedin) { %>
					<li><a href="/myaccount">My account</a></li>
                    <li><a href="/logout">Log out</a></li>
                <% } else { %> 
                    <li><a href="/login" >Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                <% } %> 
            </ul>
		</header>
		<div class="goiy">
			<div class="slider">
				<div class="slides">
				  <input type="radio" name="radio-btn" id="radio1">
				  <input type="radio" name="radio-btn" id="radio2">
				  <input type="radio" name="radio-btn" id="radio3">
				  <input type="radio" name="radio-btn" id="radio4">
				  <div class="slide first">
					<img src="../image/ateezalbum.jpg" alt="">
				  </div>
				  <div class="slide">
					<img src="../image/ateezls.jpg" alt="">
				  </div>
				  <div class="slide">
					<img src="../image/photobook.jpg" alt="">
				  </div>
				  <div class="slide">
					<img src="../image/magazine.jpg" alt="">
				  </div>
				  <div class="navigation-auto">
					<div class="auto-btn1"></div>
					<div class="auto-btn2"></div>
					<div class="auto-btn3"></div> 
					<div class="auto-btn4"></div> 
				  </div>
				</div>
				<div class="navigation-manual">
				  <label for="radio1" class="manual-btn"></label>
				  <label for="radio2" class="manual-btn"></label>
				  <label for="radio3" class="manual-btn"></label> 
				  <label for="radio4" class="manual-btn"></label>       
				</div>
			</div>
			<div class="cheer">
				<h2>K-Crush is<br> better than<br> your crush</h2>	
			</div>
		</div>
		<section class="idol-list">
			<div>
				<h1 class="align-center">LIST OF IDOLS</h1>
			</div>
			<div class="container1">
				<div class="search-box">
					<input class="search-txt" type="text" placeholder="Type to search" id="search-input" required name="name">
					<a class="search-btn" id="search-btn"><img src="../image/search-icon.png" id="search-image"></a>
				</div>
			</div>
			<br>
			<div class="idol-container">
				<% idols.forEach((idol) => { %>
					<div class="card">
						<div class="name"><%=idol.name%></div>
						<div class="image">
							<img src="<%= idol.image %>">
						</div>
						<div>
							<div class="btnblock" id="<%=idol.id %>" onclick="toInfoPage(this.id);">
							More info
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</section>
		<div class="changePage">
			<ul class="pages">
				<li><a href="">&#10094</a></li>
                <li><a href="/idol_list?page=1" class="a_order_page">1</a></li>
                <li><a href="/idol_list?page=2" class="a_order_page">2</a></li>
				<li><a href="/idol_list?page=3" class="a_order_page">3</a></li>
				<li><a href="">&#10095</a></li>
            </ul>	
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>Help</h4>
						<ul>
							<li><a href="">How to...?</a>
							<li><a href="">Use</a>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Contact us</h4>
						<ul>
							<li><img src="../image/address_icon.jpg">
							<p>Hanoi University of <br>Science and Technology</p>
							<li><img src="../image/phone_icon.png">
							<p>(+84) 123 456 789</p>
							<li><img src="../image/mail_icon.png">
							<p>duidol@sis.hust.edu.vn</p>
						</ul>
					</div>
				</div>
				<div class="copyrightText"><p>© All rights reserved</p></div>
			</div>
			<script src="../javascript/idol_list.js"></script>
			<script src="../javascript/search_idol.js"></script>
			<script src="../javascript/block_rightclick.js"></script>
		</footer>
	</body>
</html>