<html>
    <head>
        <title>Items page</title>
        <link rel="stylesheet" href="../css/item.css">
    </head>
    <body>
        <header>
			<a href="" class="logo">DUIDOL.</a>
            <ul class="navigation">
                <li><a href="">Home</a></li>
                <li><a href="">Collection</a></li>
                <li><a href="">Items</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About Us</a></li>
            </ul>
		</header>
        <div class="search">
            <input type="text" name="" placeholder="Type to search">
            <a class="searchBtn" href="#"><img src="../image/search-icon.png"></a>
        </div>
        <div class="itemCategory">
            <a href=""><div class="cate">
                <div class="cateImg">
                    <img src="../image/album.png" alt="">
                </div>
                <div class="cateName">Album</div>
            </div></a>
            <a href=""><div class="cate">
                <div class="cateImg">
                    <img src="../image/photobook.png" alt="">
                </div>
                <div class="cateName">Photobook</div>
            </div></a>
            <a href=""><div class="cate">
                <div class="cateImg">
                    <img src="../image/dvd-player.png" alt="">
                </div>
                <div class="cateName">DVD</div>
            </div></a>
            <a href=""><div class="cate">
                <div class="cateImg">
                    <img src="../image/lightstick.png" alt="">
                </div>
                <div class="cateName">Light Stick</div>
            </div></a>
            <a href=""><div class="cate">
                <div class="cateImg">
                    <img src="../image/magazine.png" alt="">
                </div>
                <div class="cateName">Magazine</div>
            </div></a>
            <a href=""><div class="cate">
                <div class="cateImg">
                    <img src="../image/heart.png" alt="">
                </div>
                <div class="cateName">Other</div>
            </div></a>
        </div>
        <div class="hotIdol">
            <h2>Hot Idols</h2>
            <div class="idols">
                <div class="idol">
                    <div class="imgIdol">
                        <img src="../image/ateezi.jpg" alt="">
                    </div>
                    <div class="idolName">ATEEZ</div>
                    <div class="btnblock">
                        <a href="../html/info.html" class="info-button">More Items</a>
                    </div>
                </div>
                <div class="idol">
                    <div class="imgIdol">
                        <img src="../image/ateezi.jpg" alt="">
                    </div>
                    <div class="idolName">ATEEZ</div>
                    <div class="btnblock">
                        <a href="../html/info.html" class="info-button">More Items</a>
                    </div>
                </div>
                <div class="idol">
                    <div class="imgIdol">
                        <img src="../image/ateezi.jpg" alt="">
                    </div>
                    <div class="idolName">ATEEZ</div>
                    <div class="btnblock">
                        <a href="../html/info.html" class="info-button">More Items</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotItem">
            <h2>Hot Items</h2>
            <div class="items">
                <div class="item">
                    <div class="imgItem">
                        <img src="../image/album1.png" alt="album1">
                    </div>
                    <div class="itemName">Treasure EP1: All to Zero</div>
                    <a href="../html/info.html" class="info-button">Buy Now</a>

                </div>
                <div class="item">
                    <div class="imgItem">
                        <img src="../image/album2.png" alt="album2">
                    </div>
                    <div class="itemName">Treasure EP2:Zero to One</div>
                    <a href="../html/info.html" class="info-button">Buy Now</a>
                </div>
                <div class="item">
                    <div class="imgItem">
                        <img src="../image/album3.png" alt="album3">
                    </div>
                    <div class="itemName">Treasure EP3:One to All</div>
                    <a href="../html/info.html" class="info-button">Buy Now</a>
                </div>
            </div>
        </div>
        <footer>
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>Help</h4>
						<ul>
							<li><a href="">How to...?</a>
							<li><a href="">Use</a>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Contact us</h4>
						<ul>
							<li><img src="../image/address_icon.jpg">
							<p>Hanoi University of <br>Science and Technology</p>
							<li><img src="../image/phone_icon.png">
							<p>(+84) 123 456 789</p>
							<li><img src="../image/mail_icon.png">
							<p>duidol@sis.hust.edu.vn</p>
						</ul>
					</div>
				</div>
				<div class="copyrightText"><p>© All rights reserved</p></div>
			</div>
		</footer>
    </body>
</html>