<html>
    <head>
        <title>Items page</title>
        <link rel="stylesheet" href="../css/item.css">
    </head>
    <body>
        <header>
			<a href="" class="logo">DUIDOL.</a>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="">Collection</a></li>
                <li><a href="/items?categorical=album">Items</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About Us</a></li>
            </ul>
		</header>
        <div class="search">
            <input type="text" name="" placeholder="Type to search" id="search-input">
            <a class="searchBtn"><img src="../image/search-icon.png" id="search-image"></a>
        </div>
        <div class="itemCategory">
            <a href="/items?categorical=album"><div class="cate">
                <div class="cateImg">
                    <img src="../image/album.png" alt="">
                </div>
                <div class="cateName">album</div>
            </div></a>
            <a href="/items?categorical=photobook"><div class="cate">
                <div class="cateImg">
                    <img src="../image/photobook.png" alt="">
                </div>
                <div class="cateName">photobook</div>
            </div></a>
            <a href="/items?categorical=lightstick"><div class="cate">
                <div class="cateImg">
                    <img src="../image/lightstick.png" alt="">
                </div>
                <div class="cateName">lightstick</div>
            </div></a>
            <a href="/items?categorical=magazine"><div class="cate">
                <div class="cateImg">
                    <img src="../image/magazine.png" alt="">
                </div>
                <div class="cateName">magazine</div>
            </div></a>
            <a href="/items?categorical=other"><div class="cate">
                <div class="cateImg">
                    <img src="../image/heart.png" alt="">
                </div>
                <div class="cateName">other</div>
            </div></a>
        </div>
        <div class="hotItem">
            <h2>Hot Items</h2>
            <div class="items">
                <% items.forEach((item) => { %>
                    <div class="item">
                        <div class="imgItem">
                            <img src="<%= item.image %>" alt="album1">
                        </div>
                        <div class="itemName"><%=item.name%></div>
                        <a href="<%= item.link %>" class="info-button">Buy Now</a>
    
                    </div>
				<% }); %>
            </div>
        </div>
        <footer>
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>Help</h4>
						<ul>
							<li><a href="">How to...?</a>
							<li><a href="">Use</a>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Contact us</h4>
						<ul>
							<li><img src="../image/address_icon.jpg">
							<p>Hanoi University of <br>Science and Technology</p>
							<li><img src="../image/phone_icon.png">
							<p>(+84) 123 456 789</p>
							<li><img src="../image/mail_icon.png">
							<p>duidol@sis.hust.edu.vn</p>
						</ul>
					</div>
				</div>
				<div class="copyrightText"><p>© All rights reserved</p></div>
			</div>
            <script src="../javascript/search_item.js"></script>
			<script src="../javascript/block_rightclick.js"></script>
		</footer>
    </body>
</html>