<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="bg">
            <div class="gif">
                <img src="../image/cheering.gif" alt="cheering">
            </div>
            <div class="form">
                <form id="login" action="/login_file" method="post">
                    <h1>Login</h1>
                    <div class="textfield">
                        <input type="email" placeholder="Email" required name="email" id="email">
                    </div>
                    <div class="textfield">
                        <input type="password" placeholder="Password" required name="password" id="password">
                    </div>
                    <div class="forget">
                        <a href="/forget_password">Forget Password</a>
                    </div>
                    <div class="message"><%=message%></div>
                    <div class="button">
                        <input type="submit" value="Login" id="button">
                    </div>
                    <div class="sign-up">
                        New to <span>DUIDOL</span> ? <a href="/register">Sign up</a>
                    </div>
                </form>
            </div>    
            
        </div>
        
    </body>
</html>