<html>
    <head>
        <title>Sign up page</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="bg">
            <div class="gif">
                <img src="../image/cheering.gif" alt="cheering">
            </div>
            <div class="form">
                <form action="/register" method="post">
                    <h1>Sign up</h1>
                    <div class="textfield">
                        <input type="username" placeholder="Username" required name="username">
                    </div>
                    <div class="textfield">
                        <input type="password" placeholder="Password" required name="password">
                    </div>
                    <div class="forget">
                        <a href="#">Forget Password</a>
                    </div>
                    <div class="button">
                        <input type="submit" value="Sign up">
                    </div>
                    <div class="or">
                        <p>Or login with </p>
                        <div class="sns">
                            <a href="#"><img src="../image/facebook.jpg" alt="sns"></a>
                            <a href="#"><img src="../image/insta.jpg" alt="sns"></a>
                            <a href="#"><img src="../image/twitter.jpg" alt="sns"></a>
                        </div>
                    </div>
                    <div class="sign-up">
                        New to <span>DUIDOL</span> ? <a href="#">Sign up</a>
                    </div>
                </form>
            </div>    
            
        </div>
        
    </body>
</html>