<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <header>
            <a href="/" class="logo">DUIDOL.</a>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/items?categorical=album">Items</a></li>
                <li><a href="/idol_list?page=1">Idol List</a></li>
                <li><a href="/login" >Login</a></li>
                <li><a href="/register">Sign up</a></li>               
            </ul>
        </header>
        <div class="bg">
            <div class="gif">
                <img src="../image/cheering.gif" alt="cheering">
            </div>
            <div class="form">
                <form action="/reset-pass/<%= id %>" method="post">
                    <h1>Reset your password</h1>
                    <div class="h4text"><h4>Enter your new password</h4></div>
                    <div class="textfield">
                        <input type="password" placeholder="New password" required name="password" id="password">
                    </div>
                    <div class="message"><%=message%></div>
                    <div class="button">
                        <input type="submit" value="Reset">
                    </div>
                </form>
            </div>    
            
        </div>
        
    </body>
</html>