<html>
    <head>
        <title>Welcome page</title>
        <link rel="stylesheet" href="../css/welcome_page.css" type="text/css">
    </head>
    <body>
        <header>
            <a href="welcome_page.html" class="logo">DUIDOL.</a>
            <ul class="navigation">
                <% if (session.email) { %>
                    <li>Hi, <%= session.email %></a></li>
                <% } %> 
                <li><a href="/">Home</a></li>
                <li><a href="/items?categorical=album">Items</a></li>
                <li><a href="/idol_list?page=1">Idol List</a></li>
                <% if (session.email) { %>
                    <li><a href="/myaccount">My account</a></li>
                    <li><a href="/logout">Log out</a></li>
                <% } else { %> 
                    <li><a href="/login" >Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                <% } %> 
            </ul>
        </header>
        <div class="content">
            <div class="bg">
                <div class="bg1">
                    <div class="bg1-1">
                        <h2>DUIDOL</h2>
                        <p><span>ONE STEP CLOSER TO</span>YOUR FAVORITE IDOLS</p>    
                    </div>
                </div>
                <div class="bg2">
                    <img src="../image/bg.jpg" alt="">
                </div>
            </div>
        </div>
    </body>
</html>