body {
    margin: 0;
}
.p0 {
    background-color: #e2deeb;
    padding: 0.5em 0;
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    text-align: center;
    color: white;
    font-size: 3.5rem;
}
h1 span {
    text-align: center;
    display: block;
    font-size: 1.5rem;
}
.p1 {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
}
.p1-1 {
    position: relative;
    height: 100%;
    min-height: 30em;
}
.p1-1 .image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #efecf5;
}
.p1-1 .image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
.p1-2{
    height: fit-content;
}
.p1-2 p{
    font-size: 1.5rem;
    line-height: 2em;
    font-family: sans-serif;
    padding: 2em;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;   
    z-index: 100; 
}
.p1-1:hover .overlay {
    height: 15%;
}
.text {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
  }
.preBtn {
    position: absolute;
    cursor: pointer;
    top: 45%;
    width: auto;    
    padding: 1em;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; 
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.preBtn:hover {
    background-color:rgba(0, 0, 0, 0.6);
}
.nextBtn {
    position: absolute;
    cursor: pointer;
    top: 45%;
    width: auto;    
    padding: 1em;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; 
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 100;
}
.nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.p2 {
    background-color: #e2deeb;
    padding-bottom: 5em;
    align-items: center;
}

.p2-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 3em;
}
.p2-1 a {
    text-decoration: none;
    color: black;
}
.p2 h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 1em 0 1em;
}
.album {
    width: 15em;
    margin: auto;
    background-color: white;
    border-radius: 10px;  
    box-shadow: 0px 10px 5px #b2bec3;
    padding: 1em;
}
.album:hover{
    box-shadow: 15px 15px 15px #b2bec3;
	background: #FFEAFF;
}
.album .imgIdol {
    width: 100%;
    height: 15em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album .imgIdol img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
.albname {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    padding-top: 1em;
}

.p3 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.p3-2 img {
    width: 100%;
}
.p3-1 h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20%;
    color: #cfc7e4;
}
.p3-1 img {
    width: 4em;
    height: 4em;
}
.p3-1 img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.sns {
    margin-left: 28%;
}
header {
    background-color: white;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
    color: #c0b5d3;
}
.navigation {
    display: flex;
    position: relative;
}
.navigation li {
    list-style: none;
}
.navigation li:not(:last-child){
	margin-right: 2em;
}

.navigation li a {
    text-decoration: none;
    font-size: 1em;
    color: #c0b5d3;
}
footer {
	background-color: #2f3640;
	padding: 1em 0;
}

footer .container {
	max-width: 1170px;
	margin: auto;
}
footer .container .row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer-col {
	width: 100%;
	display: flex;
	justify-content: center;
}
.footer-col h4 {
	font-size: 1.5em;
	color: #EBF89D;
	text-transform: capitalize;
	position: relative;
	margin-top: 0.5em;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	top: 25px;
	height: 2px;
	background-color: red;
	box-sizing: border-box;
	width: 2em;
}

.footer-col li {
	display: flex;
	margin-bottom: 0.5em;
}
.footer-col ul li a {
	color: #BBF8CE;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	font-family: Cambria;
	font-size: 1em;
	margin-bottom: 0.5em;
	display: block;
}


.footer-col ul li a:hover {
	color: #CFFFE5;
	padding-left: 0.5em;

}

.footer-col p {
	margin-top: 0.2em;
	font-size: 1em;
	font-family: Cambria;
	color: #BBF8CE;
}
.footer-col img {
	border-radius: 0.5em;
	max-height: 2em;
	margin-right: 0.5em;
}

ul {
	list-style: none;
}

footer .container .h3 {
	color: white;
}

.container .row {
	display: flex;
	flex-wrap: wrap;
}

.copyrightText {
	width: 100%;
	color: #999;
	text-align: center;
	font-family: Cambria;
}

.overlay img{
    float: right;
    max-width: 8%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30%; 
    height: 25%;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
  }
  .modal-content a {
      text-decoration: none;
      font-weight: 600;
  }
  .download-icon {
      cursor: pointer;
      width: 4em;
      margin-right: 1em;
  }
  .loginBtn {
      background-color: #c0b5d3;
      width: fit-content;
      height: fit-content;
      padding: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
  }

@media only screen and (max-width: 991px){
    .p1 {
        grid-template-columns: 1fr;
    }
    .p1-2 p{
        line-height: 2em;
        margin: 3em 2em 3em 3em;
    }
    .p3 {
        grid-template-columns: 1fr;
    }
    .p3-1 h2 {
        font-size: 3rem;
        margin-top: 10%;
    }
    .p3-1 img {
        width: 7em;
        height: 7em;
        padding-bottom: 3em;
    }
    .sns {
        margin-left: 20%;
    }
    .p1-1:hover .overlay {
        height: 20%;
    }
    .text {
        font-size: 4rem;
    }
    .preBtn, .nextBtn {
        font-size: 2em;
    }
    .album {
        width: 25em;
    }
    .album .imgIdol {
        height: 25em;
    }
    .p2-1 {
        grid-template-columns: 1fr;
    
    }
    .albname {
        font-size: 2.2rem;
    }
}