body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cec8d6;
    font-family: sans-serif;
}

.bg {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: white;
    box-shadow: 10px 10px 10px #b2bec3;
}
.gif {
    display: flex;
    background: #c0b5d3;
    align-items: center;
    justify-content: center;
}
.gif img {
    width: 20em;
}
h1 {
    text-align: center;  
    color: #c0b5d3; 
}
.form {
    padding: 1em;
}
.textfield {
    margin: 0 2em 1em;
    border-bottom: 3px solid #c0b5d3 ;
    position: relative;
}
.textfield input {
    width: 100%;
    height: 2em;
    padding: 1em;
    font-size: 1rem;
    border: none;
    outline: none;
}
.button {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}
.button input{
    width: 80%;
    height: 3em;
    background-color: #c0b5d3;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.button input:hover {
    background-color: #a98dd8;
}
.or {
    text-align: center;
    margin-bottom: 2em;
}
.sns img {
    width: 3em;
    height: 3em;
}
.sns img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.sign-up {
    text-align: center;
}
.sign-up a {
    text-decoration: none;
    color: #a98dd8;
    font-weight: 600;
}
.sign-up span {
    font-weight: 600;
    color: #a98dd8;
}
.forget {
    text-align: right;
    padding-right: 2em;
}
.forget a {
    text-decoration: none;
    color: #9c9c9c;   
    font-size: 0.9rem; 
}

.h4text {
    padding-left: 2em;
    padding-top: 0.5em;
}
.message {
    color: red;
    margin-left: 10%;
}

@media only screen and (max-width: 991px){
    .bg {
        grid-template-columns: 1fr;
    }
    .gif img {
        width: 100%;
    }
    .textfield input {
        width: 100%;
        height: 2em;
        padding: 1em;
        font-size: 2rem;
        border: none;
        outline: none;
    }
    .button {
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5em;
    }
    .button input{
        width: 90%;
        height: 2em;
        background-color: #c0b5d3;
        border: none;
        color: white;
        border-radius: 10px;
        font-size: 2rem;
        cursor: pointer;
        font-weight: 600;
    }
    .or {
        font-size: 2rem;
    }
    .sns img {
        width: 2.5em;
        height: 2.5em;
    }
    h1 {
        font-size: 3em;
    }

}
