<html>
    <head>
        <title>Info page</title>
        <link rel="stylesheet" href="../css/info.css">
    </head>
    <body>
        <div class="bg">
            <header>
                <p>Menu</p>
            </header>
            <div class="smaller-bg">
                <img src="../image/ateez.jpg" alt="Picture of idol">
                <section>
                    <div class="info">
                        <h1>ATEEZ</h2>
                        <p>
                            ATEEZ là một nhóm nhạc nam Hàn Quốc được thành lập bởi KQ Entertainment vào năm 2018.
                            Nhóm có 8 thành viên, bao gồm: Hongjoong, Seonghwa, Yunho, Yeosang, San, Mingi, Wooyoung và Jongho.
                        </p>
                        <hr>
                        <h2>Danh sách đĩa nhạc</h2>
                        <ul>
                            <li>Treasure EP.1: All To Zero</li>
                            <li>Treasure EP.2: Zero To One</li>
                            <li>Treasure EP.3: One To All</li>
                            <li>Treasure EP.Fin: All To Action</li>
                            <li>Treasure Epilogue: Action To Answer: All To Zero</li>
                        </ul>
                        <hr>
                        <h2>Where to find ATEEZ</h2>
                        <a href="https://facebook.com/ATEEZofficial"><img src="../image/facebook.jpg" alt="facebook link"></a>
                        <a href="https://twitter.com/ATEEZofficial"><img src="../image/twitter.jpg" alt="twitter link" ></a>
                        <a href="https://instagram.com/ATEEZ_official_"><img src="../image/insta.jpg" alt="insta link"></a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>