<!DOCTYPE html>
<html>
    <head>
        <title>DUIDOL Hello</title>
        <link rel="stylesheet" href="../css/welcome.css">
    </head>
    <body>
        <div class="bg">
            <div class="navbar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Idol</a></li>
                    <li><a href="">Item</a></li>
                    <li><a href="">About Us</a></li>
                  </ul>
            </div>
            <div class="title">
                <h1 id="webName">DUIDOL</h1>
                <br>
                <h1 id="webSlogan">New World is coming ...</h1>
            </div>
        </div>
    </body>
</html>