<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
        <link rel="stylesheet" href="../css/welcome_page.css">
    </head>
    <body>
        <div class="overview">
            <img src="../image/girls-generation-10th-anniversary.jpg">
            <div class="navbar">
                <h1>DUIDOL</h1>
                <a>Home</a>
                <a>Collection</a>
                <a>Products</a>
                <a>Items</a>
                <a>About Us</a>
            </div>
            <div class="content">  
                <h1 id="team">DUIDOL</h1>
                <h2 id="slogan">Our world is coming....</h2>
                <a>Explore</a>
                <a>About Us</a>
            </div>
        </div>
    </body>
</html>